* {
    font-family: 'Roboto', sans-serif;
    color: #515151;
}

/* Setting grid */
html {
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background:#EEEEEE;
}
body {
    margin: 0;
    flex: 0 1 auto;
    align-self: auto;
    max-width: 1024px;
    background:#FFFFFF;
    -webkit-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 96px 0px rgba(0,0,0,0.75);
}
.wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    margin: 1em;
    max-width: 1024px;
}
header {
    grid-area: header;
    display: grid;
    height: 100vh;
    position: relative;
} 
main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "section1"
      "section2"
      "section3";    
}
section {
    margin: 100px 30px 50px 30px;
    font-size: 0.9em;
    /* max-width: 800px; */
}
footer {
    grid-area: footer;
    display: grid;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
    width: 270px;
    margin: 10px 20px 10px 0;
}
.section1 {
    grid-area: section1;
    position: relative;
}
.section2 {
    grid-area: section2;
    position: relative;
}
.section3 {
    grid-area: section3;
    position: relative;
}


/* Positioning items */
img.logo {
    width: 200px;
    position: absolute; 
    bottom: 100px;
    right: 0; 
}
p.quote {
    margin: 0 0 0 30px;
    font-size: 0.8em;
    line-height: 2.1em;
    border-top: 0.5px solid #515151;
    position: absolute;
    bottom: 130px;
    width: 86%;
}
.heading-block-green {
    width: 80px;
    height: 80px;
    background: #BADFD0;
    position: absolute;
    left: 10px;
    top: 60px;
    transform: translate(-50%, -50%) rotate(65deg);
    z-index: 0;
} 
.heading-block-yellow {
    width: 80px;
    height: 80px;
    background: #FBD432;
    position: absolute;
    right: -70px;
    top: 45px;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 0;
} 
.heading-block-blue {
    width: 80px;
    height: 80px;
    background: #A4D3ED;
    position: absolute;
    left: 10px;
    top: 60px;
    transform: translate(-50%, -50%) rotate(65deg);
    z-index: 0;
} 
.heading-block {
    z-index: 1;
    position: absolute;
    width: 100%;
}
.spacer{
    height: 100px;
}
.shift-right {
    text-align: right;
}



/* Setting styles */
h1 {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.2em;
}
h1 span {
    font-size: 5em;
}
h2 {
    margin-bottom: 0;
}
h3 {
    margin-bottom: 0.1em;
    font-size: 1em;
}
.heading-underline {
    color: #515151;
    background-color: #515151;
    height: 1px;
    border: 0;
    margin-top: 0;
}
.desc p {
    margin-top: 0;
}
form {
    margin-top: 25px;
}
input, textarea {
    background-color: rgba(164, 211, 237, 0.2);
    border: 0;
    font-size: 0.8em;
    padding: 5px;
    margin: 3px 5px 3px 0;
    width: 98%
}
textarea {
    height: 100px;
}


/* Skill block styles */
.skill-block {
    display: inline-block;
    border: 1px solid #FBD432;
    text-align: center;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
    margin: 5px;
    line-height: 7em;
}


/* Links */
a {
    text-decoration: none;
}



/* Red button */
.button {
    display: inline-block;
    background: #EB3B42;
    border: 0;
    color: #FFFFFF;
    margin-top: 5px;   
}
.button:hover {
    background: rgba(234, 61, 66, 0.7);
}
.file {
    padding: 5px 25px;
    margin-right: 5px;
}
.icon {
    padding: 20px;
    margin-right: 5px;
}
.icon img {
    width: 40px;
    height: 40px;
}
.send {
    padding: 5px 35px;
    float: right;
}


/* Navigation */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

nav > a {
    display: inline-block;
    text-align: center;
    min-width: 80px;
    max-width: 200px;
    height: 30px;
    background: rgba(81, 81, 81, 0.5);
    color: #FFFFFF;
    line-height: 2em;
    font-weight: normal;
}

nav > a:hover {
    background: rgba(81, 81, 81, 0.8);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    nav {
        position: fixed;
        top: 2%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 800px) {
    body {
        width: 800px;
    }
    section {
        width: 600px;
    }
}
@media only screen and (min-width: 900px) {
    body {
        width: 900px;
    }
    section {
        width: 600px;
    }
}
@media only screen and (min-width: 1024px) {
    body {
        width: 1024px;
    }
    section {
        width: 600px;
    }
}

