* {
    font-family: 'Roboto', sans-serif;
    color: #515151;
}

.wrapper{
    display: grid;
    width: 100vw;
    grid-template-areas:
      "header"
      "main"
      "footer"
}

header {
    grid-area: header;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
} 

main {
    grid-area: main;
    display: grid;
    width: 100vw;
}

footer {
    grid-area: footer;
    display: grid;
    width: 100vw;
}


img.logo {
    /* min-width: 0;
    max-width: 0; */
    width: 100%;
    grid-column: -6 / -2;
    grid-row: -6 / -2;
    /* right: 5px;
    bottom: 50px; */
    /* position: absolute; */

}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-bottom: 0.1em;
    font-size: 1em;
}

.h2-underline {
    border: 0.5px solid #515151;
    margin-top: 0;
}

.desc p {
    margin-top: 0;
}

/* h1 {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0; 
    margin-left: 3%;
}

h1 span {
    font-size: 5em;
}


div.heading-block {
    position: relative;
}

div.heading-block::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 3%;
    bottom: 0;
    height: 1px;
    width: 70%;
    border-bottom: 1px solid #515151;
}

.heading-block-green {
    width: 50px;
    height: 50px;
    background: #BADFD0;
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}  */
